<!-- app.component.html -->
<mat-toolbar color="primary">
  <!-- Logo (può essere un'immagine o solo un testo) -->
  <span class="logo">ChatApp</span>
  <!-- Spazio vuoto per separare il logo dai link -->
  <span class="spacer"></span>
  <!-- Icona opzionale per notifiche, profilo, ecc. -->
  <mat-icon>notifications</mat-icon>
</mat-toolbar>

<!--form in app.component.html-->
<ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Nickname</mat-label>
      <input matInput [(ngModel)]="messageForm.nickname">
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Messaggio</mat-label>
    <input matInput [(ngModel)]="messageForm.message">
  </mat-form-field>
  <button mat-fab extended color="primary" (click)="sendMessage()"  [disabled]="sending">
    <mat-icon matPrefix>send</mat-icon>@if (!sending) {Invia} @else {in corso ...}
  </button>
</ng-container>
<!--lista messaggi in app.component.html-->
<ng-container>
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <span matListItemTitle>Da: {{message.nickname}}</span>
      <span matListItemLine>{{ message.message }}</span>
    </mat-list-item>
  </mat-list>
</ng-container>
