/* app.component.scss */
@use '@angular/material' as mat;
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}



// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: orange,
  ));
}
